{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Owl Theme Default Min CSS -->
    <link
      rel="stylesheet"
      href="{% static 'css/owl.theme.default.min.css' %}"
    />
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <!-- Remixicon CSS -->
    <link rel="stylesheet" href="{% static 'css/remixicon.css' %}" />
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}" />
    <!-- scrollCue CSS -->
    <link rel="stylesheet" href="{% static 'css/scrollCue.css' %}" />
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}" />
    <!-- Odometer Min CSS -->
    <link rel="stylesheet" href="{% static 'css/odometer.min.css' %}" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'images/favicon.png' %}"
    />
    <!-- Include SweetAlert CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css"
    />

    <!-- Title -->
    <title>KidsWorld</title>
  </head>
  <body>
    <!-- Start Preloader Area -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="pl-spark-1 pl-spark-2"></div>
      </div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Header Area -->
    <header class="header-area">
      <!-- Start Top Header -->
      <div class="top-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <ul class="header-left-content">
                <li>
                  <a href="mailto:k16735848@gmail.com">
                    <i class="ri-mail-open-fill"></i>
                    k16735848@gmail.com
                  </a>
                </li>
              </ul>
            </div>
            {% if request.user.is_authenticated %}
            <div class="col-lg-6 col-md-6">
              <div class="header-right-content">
                <ul class="my-account">
                  <li>
                    <a href="javascript:;" class="dropdown-control">
                      <i class="ri-user-line"></i>
                      My account
                      <i class="ri-arrow-down-s-line"></i>
                    </a>

                    <ul class="my-account-link">
                      <li>
                        <a href="/logout"> Log Out </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- Start Top Header -->
      <!-- Start Navbar Area -->
      <div class="navbar-area">
        <div class="mobile-responsive-nav">
          <div class="container">
            <div class="mobile-responsive-menu">
              <div class="logo">
                {% if request.user.is_authenticated %}
                <a href="/home">
                  <img src="{% static 'images/logo.png' %}" alt="logo" />
                </a>
                {% else %}
                <a href="/about">
                  <img src="{% static 'images/logo.png' %}" alt="logo" />
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="desktop-nav">
          <div class="container">
            {% if request.user.is_authenticated %}
            <nav class="navbar navbar-expand-md navbar-light">
              <a class="navbar-brand" href="/home">
                <img src="{% static 'images/logo.png' %}" alt="logo" />
              </a>
              <div
                class="collapse navbar-collapse mean-menu"
                id="navbarSupportedContent"
              >
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a href="/home" class="nav-link">
                      <!-- Also we can use : "galleries.html" -->
                      Home
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/profile" class="nav-link"> Profile </a>
                  </li>
                  <li class="nav-item">
                    <a href="/favorite_list" class="nav-link">
                      Favorite List
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/about" class="nav-link"> About us </a>
                  </li>
                  <li class="nav-item">
                    <a href="/contact" class="nav-link active"> Contact us </a>
                  </li>
                </ul>
              </div>
            </nav>
            {% else %}
            <nav class="navbar navbar-expand-md navbar-light">
              <a class="navbar-brand" href="/about">
                <img src="{% static 'images/logo.png' %}" alt="logo" />
              </a>

              <div
                class="collapse navbar-collapse mean-menu"
                id="navbarSupportedContent"
              >
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a href="/register" class="nav-link"> Register </a>
                  </li>

                  <li class="nav-item">
                    <a href="/login" class="nav-link"> Login </a>
                  </li>

                  <li class="nav-item">
                    <a href="/about" class="nav-link"> About us </a>
                  </li>

                  <li class="nav-item">
                    <a href="/contact" class="nav-link active"> Contact us </a>
                  </li>
                </ul>
              </div>
            </nav>
            {% endif %}
          </div>
        </div>
        <div class="others-option-for-responsive">
          <div class="container">
            <div class="dot-menu">
              <div class="inner">
                <div class="circle circle-one"></div>
                <div class="circle circle-two"></div>
                <div class="circle circle-three"></div>
              </div>
            </div>
            <div class="container">
              <div class="option-inner">
                <div
                  class="others-option justify-content-center d-flex align-items-center"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar Area -->
    </header>
    <!-- End Header Area -->

    <!-- Start Page Title Area -->
    <div class="page-title-area bg-8">
      <img
        src=" {% static 'images/gif3.gif' %}"
        alt=""
        class="page-title-gif"
      />
      <div class="container">
        <div class="page-title-content">
          <h2>Contact</h2>
          {% if request.user.is_authenticated %}
          <ul>
            <li>
              <a href="index.html"> Home </a>
            </li>
            <li class="active">Contact</li>
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- End Page Title Area -->
    <!-- Start Contact Area -->
    <section class="main-contact-area pb-100 pt-100">
      <div class="container">
        <div class="contact-bg">
          <div class="contact-info">
            <div class="row">
              <div class="col-lg-4">
                <div class="single-contact-info">
                  <h3>Location</h3>
                  <p>
                    <i class="ri-map-pin-fill"></i>
                    Palestine
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="single-contact-info">
                  <h3>Phone</h3>
                  <p>
                    <i class="ri-phone-fill"></i>
                    <a href="tel:+972 5912345678">+972 5912345678</a>
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="single-contact-info">
                  <h3>Email</h3>
                  <p>
                    <i class="ri-mail-open-fill"></i>
                    <a href="mailto:k16735848@gmail.com">k16735848@gmail.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="section-title green-title">
            <h2>Get in touch</h2>
            <p>
              We're always here to lend a helping hand and assist you with
              anything you need. Don't hesitate to send us an email.
            </p>
          </div>
          <form id="contactForm" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <label>Your name</label>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    required
                    data-error="Please enter your name"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <label>Your email</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    required
                    data-error="Please enter your email"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <label>Your phone</label>
                  <input
                    type="text"
                    name="phone_number"
                    id="phone_number"
                    required
                    data-error="Please enter your number"
                    class="form-control"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <label>Subject</label>
                  <input
                    type="text"
                    name="msg_subject"
                    id="msg_subject"
                    class="form-control"
                    required
                    data-error="Please enter your subject"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label>Your message</label>
                  <textarea
                    name="message"
                    class="form-control"
                    id="message"
                    cols="30"
                    rows="8"
                    required
                    data-error="Write your message"
                  ></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <button type="submit" class="default-btn">Send message</button>
                <div id="msgSubmit" class="h3 text-center hidden"></div>
                <div class="clearfix"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- End Contact Area -->
    <input type="hidden" id="csrf_token" value="{% csrf_token %}" />

    <!-- Start Footer Area -->
    <footer class="footer-area pt-70 pb-40">
      <div class="container">
        <div class="col-lg-6 col-sm-6 mx-auto">
          <div class="col-6 mx-auto">
            {% if request.user.is_authenticated %}
            <a href="/home" class="logo">
              <img src="{% static 'images/white-logo.png' %}" alt="Image" />
            </a>
            {% else %}
            <a href="/about" class="logo">
              <img src="{% static 'images/white-logo.png' %}" alt="Image" />
            </a>
            {% endif %}
          </div>
          <ul class="social-icon">
            <li class="social-icon__item">
              <a
                class="social-icon__link"
                href="https://www.facebook.com/"
                target="_blank"
              >
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
            <li class="social-icon__item">
              <a
                class="social-icon__link"
                href="https://twitter.com/"
                target="_blank"
              >
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
            <li class="social-icon__item">
              <a
                class="social-icon__link"
                href="https://twitter.com/"
                target="_blank"
              >
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
            <li class="social-icon__item">
              <a
                class="social-icon__link"
                href="https://www.instagram.com/"
                target="_blank"
              >
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
          </ul>
          {% if request.user.is_authenticated %}
          <ul class="menu">
            <li class="menu__item">
              <a class="menu__link" href="/home">Home</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="/profile">Profile</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="/favorite_list">Favorite List</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="/about">About Us</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="/contact">Contact Us</a>
            </li>
          </ul>
          {% else %}
          <ul class="menu">
            <li class="menu__item">
              <a class="menu__link" href="/about">About Us</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="/contact">Contact Us</a>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
      <div class="shape footer-shape-1">
        <img src="{% static 'images/footer-shape-1.png' %}" alt="Image" />
      </div>
      <div class="shape footer-shape-2">
        <img src="{% static 'images/footer-shape-2.png' %}" alt="Image" />
      </div>
    </footer>
    <!-- End Footer Area -->

    <!-- Start Go Top Area -->
    <div class="go-top">
      <i class="ri-arrow-up-s-fill"></i>
      <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- End Go Top Area -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Jquery Min JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap Bundle Min JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Meanmenu Min JS -->
    <script src="{% static 'js/meanmenu.min.js' %}"></script>
    <!-- Owl Carousel Min JS -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Owl Carousel Thumbs Min JS -->
    <script src="{% static 'js/carousel-thumbs.min.js' %}"></script>
    <!-- scrollCue Min JS -->
    <script src="{% static 'js/scrollCue.min.js' %}"></script>
    <!-- Magnific Popup Min JS -->
    <script src="{% static 'js/magnific-popup.min.js' %}"></script>
    <!-- Appear Min JS -->
    <script src="{% static 'js/appear.min.js' %}"></script>
    <!-- Odometer Min JS -->
    <script src="{% static 'js/odometer.min.js' %}"></script>
    <!-- Mixitup Min JS -->
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <!-- Form Validator Min JS -->
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <!-- Contact JS -->
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <!-- Ajaxchimp Min JS -->
    <script src="{% static 'js/ajaxchimp.min.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/custom.js' %}"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Get the form element
        const form = document.getElementById("contactForm");

        // Add event listener for form submission
        form.addEventListener("submit", function (event) {
          // Prevent default form submission
          event.preventDefault();

          // Get the CSRF token from the hidden input field
          const csrfToken = document.getElementById("csrf_token").value;

          // Submit the form via AJAX
          fetch(form.action, {
            method: "POST",
            body: new FormData(form),
            headers: {
              "X-CSRFToken": csrfToken,
            },
          })
            .then((response) => {
              // Handle response status
              if (!response.ok) {
                throw new Error("Network response was not ok");
              }
              return response.json();
            })
            .then((data) => {
              // Handle response data
              if (data.success) {
                // Registration successful
                Swal.fire({
                  icon: "success",
                  title: "Success!",
                  text: "You have successfully sent your message!",
                  confirmButtonColor: "#3085d6",
                  confirmButtonText: "OK",
                }).then((result) => {
                  if (result.isConfirmed) {
                    window.location.href = "/about"; // Redirect to profile page
                  }
                });
              } else {
                Swal.fire({
                  icon: "error",
                  title: "Send message Failed",
                  html: errors.trim(),
                  confirmButtonColor: "#d33",
                  confirmButtonText: "OK",
                });
              }
            })
            .catch((error) => {
              // Handle errors
              // console.error("Error:", error);
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong! Please try again later.",
                confirmButtonColor: "#d33",
                confirmButtonText: "OK",
              });
            });
        });
      });
    </script>
  </body>
</html>
