{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Owl Theme Default Min CSS -->
    <link
      rel="stylesheet"
      href="{% static 'css/owl.theme.default.min.css' %}"
    />
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <!-- Remixicon CSS -->
    <link rel="stylesheet" href="{% static 'css/remixicon.css' %}" />
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}" />
    <!-- scrollCue CSS -->
    <link rel="stylesheet" href="{% static 'css/scrollCue.css' %}" />
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}" />
    <!-- Odometer Min CSS -->
    <link rel="stylesheet" href="{% static 'css/odometer.min.css' %}" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'images/favicon.png' %}"
    />
    <!-- Title -->
    <title>KidsWorld</title>
  </head>

  <body>
    <!-- Start Preloader Area -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="pl-spark-1 pl-spark-2"></div>
      </div>
    </div>
    <!-- End Preloader Area -->

    <!-- Start Header Area -->
    <header class="header-area">
      <!-- Start Top Header -->
      <div class="top-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <ul class="header-left-content">
                <li>
                  <a href="mailto:k16735848@gmail.com">
                    <i class="ri-mail-open-fill"></i>
                    k16735848@gmail.com
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="header-right-content">
                <ul class="my-account">
                  <li>
                    <a href="javascript:;" class="dropdown-control">
                      <i class="ri-user-line"></i>
                      My account
                      <i class="ri-arrow-down-s-line"></i>
                    </a>

                    <ul class="my-account-link">
                      <li>
                        <a href="/logout"> Log Out </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Top Header -->

      <!-- Start Navbar Area -->
      <div class="navbar-area">
        <div class="mobile-responsive-nav">
          <div class="container">
            <div class="mobile-responsive-menu">
              <div class="logo">
                <a href="/home">
                  <img src="{% static 'images/logo.png' %}" alt="logo" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="desktop-nav">
          <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
              <a class="navbar-brand" href="/home">
                <img src="{% static 'images/logo.png' %}" alt="logo" />
              </a>

              <div
                class="collapse navbar-collapse mean-menu"
                id="navbarSupportedContent"
              >
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a href="/home" class="nav-link active">
                      <!-- Also we can use : "galleries.html" -->
                      Home
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/profile" class="nav-link"> Profile </a>
                  </li>

                  <li class="nav-item">
                    <a href="/favorite_list" class="nav-link">
                      Favorite List
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/about" class="nav-link"> About us </a>
                  </li>

                  <li class="nav-item">
                    <a href="/contact" class="nav-link"> Contact us </a>
                  </li>
                </ul>
                <div class="others-options">
                  <ul>
                    <li>
                      <div class="option-item">
                        <i class="search-btn ri-search-line"></i>
                        <i class="close-btn ri-close-line"></i>

                        <div class="search-overlay search-popup">
                          <div class="search-box">
                            <form class="search-form" method="post">
                              {% csrf_token %}
                              <input
                                class="search-input"
                                name="title"
                                id="search-input"
                                placeholder="Search by title"
                                type="text"
                              />
                              <select name="age-limit" id="age-limit">
                                <option value="">Select Age Limit</option>
                                <option value="2-5">2-5</option>
                                <option value="6-9">6-9</option>
                                <option value="10-12">10-12</option>
                              </select>

                              <button
                                class="search-button"
                                id="search-button"
                                type="submit"
                              >
                                <i class="ri-search-line"></i>
                              </button>
                            </form>
                          </div>
                          <div id="search-results">
                            {% block content %}
                            <h1>Search Results</h1>
                            <ul>
                              {% for story in stories %}
                              <li>{{ story.title }} ({{ story.age_limit }})</li>
                              {% endfor %}
                            </ul>
                            {% endblock %}
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>

        <div class="others-option-for-responsive">
          <div class="container">
            <div class="dot-menu">
              <div class="inner">
                <div class="circle circle-one"></div>
                <div class="circle circle-two"></div>
                <div class="circle circle-three"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar Area -->
    </header>
    <!-- End Header Area -->

    <!-- Start Hero Slider Area -->
    <section class="hero-slider-area">
      <div class="hero-slider owl-theme owl-carousel" data-slider-id="1">
        <!-- Loop through the last three stories -->
        {% for story in last_three_stories %}
        <div class="hero-slider-item">
          <div class="d-table">
            <div class="d-table-cell">
              <div class="container-fluid">
                <div class="row align-items-center">
                  <div class="col-lg-6">
                    <div class="hero-slider-content pr-15">
                      <span class="top-title">{{ story.genre }}</span>
                      <h1>{{ story.title }}</h1>
                      <p>
                        Age: {{ story.age_limit }} <br />
                        Language: {{ story.language }}
                      </p>
                      <!-- Add more fields as needed -->
                      <div class="slider-btn">
                        <a href="/story/{{ story.id }}" class="default-btn">
                          Learn more
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="slider-img pl-15">
                      <!-- Use the image field of the story -->
                      <img
                        src="{{ story.image.url }}"
                        alt="Image"
                        style="width: 875px; height: 530px"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="slider-shape">
            <img
              src="{% static 'images/slider/slider-shape.png' %}"
              alt="Image"
            />
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Start Carousel Thumbs -->
      <div class="thumbs-wrap">
        <div class="owl-thumbs hero-slider-thumb" data-slider-id="1">
          <!-- Add thumbs for each story -->
          {% for story in last_three_stories %}
          <div class="owl-thumb-item">
            <span>{{ forloop.counter }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- End Carousel Thumbs -->
    </section>
    <!-- End Hero Slide Area -->

    <!-- Start cards Area -->
    <div class="gallery-area pt-100 pb-70">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="shorting-menu">
              <button class="filter" data-filter="all">All</button>

              <button class="filter" data-filter=".animals">Animals</button>

              <button class="filter" data-filter=".adventure">Adventure</button>

              <button class="filter" data-filter=".fantasy">Fantasy</button>

              <button class="filter" data-filter=".science">Science</button>
            </div>
          </div>
        </div>

        <div id="Container">
          <div class="row" id="ahla-rand">
            {% for story in all_stories %}
            <div class="col-lg-4 col-md-6 mix {{ story.genre|lower }}">
              <div class="single-event-box">
                <span style="position: relative; display: inline-block">
                  <img
                    src="{{ story.image.url }}"
                    alt="Image"
                    style="width: 550px; height: 300px"
                  />
                  <!-- Use conditional to determine heart icon class -->
                  {% if request.user in story.users_who_like.all %}
                  <form action="/remove_from_favorites">
                    <button
                      type="submit"
                      class="ri-heart-fill heart_Icon"
                      data-story-id="{{ story.id }}"
                    ></button>
                  </form>

                  {% else %}
                  <i
                    class="ri-heart-line heart_Icon"
                    data-story-id="{{ story.id }}"
                  ></i>
                  {% endif %}
                </span>

                <div class="event-content">
                  <h3>
                    <a href="/story/{{ story.id }}">{{ story.title }}</a>
                  </h3>
                  <div
                    class="rating text-warning"
                    data-rate="{{ story.rate }}"
                  ></div>
                  <a href="/story/{{ story.id }}" class="read-more">
                    Read more
                    <i class="ri-arrow-right-s-line"></i>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- End cards Area -->
    <input type="hidden" id="csrf_token" value="{% csrf_token %}" />
    <!-- Start Footer Area -->
    <footer class="footer-area pt-70 pb-40">
      <div class="container">
        <div class="col-lg-6 col-sm-6 mx-auto">
          <div class="col-6 mx-auto">
            <a href="/home" class="logo">
              <img src="{% static 'images/white-logo.png' %}" alt="Image" />
            </a>
          </div>
          <ul class="social-icon">
            <li class="social-icon__item">
              <a
                class="social-icon__link"
                href="https://www.facebook.com/"
                target="_blank"
              >
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
            <li class="social-icon__item">
              <a
                class="social-icon__link"
                href="https://twitter.com/"
                target="_blank"
              >
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
            <li class="social-icon__item">
              <a
                class="social-icon__link"
                href="https://twitter.com/"
                target="_blank"
              >
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
            <li class="social-icon__item">
              <a
                class="social-icon__link"
                href="https://www.instagram.com/"
                target="_blank"
              >
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
          </ul>
          <ul class="menu">
            <li class="menu__item">
              <a class="menu__link" href="/home">Home</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="/profile">Profile</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="/favorite_list">Favorite List</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="/about">About Us</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="shape footer-shape-1">
        <img src="{% static 'images/footer-shape-1.png' %}" alt="Image" />
      </div>
      <div class="shape footer-shape-2">
        <img src="{% static 'images/footer-shape-2.png' %}" alt="Image" />
      </div>
    </footer>
    <!-- End Footer Area -->

    <!-- Start Go Top Area -->
    <div class="go-top">
      <i class="ri-arrow-up-s-fill"></i>
      <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- End Go Top Area -->

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var heartIcons = document.querySelectorAll(".heart_Icon");

        heartIcons.forEach(function (heartIcon) {
          heartIcon.addEventListener("click", function () {
            var storyId = heartIcon.dataset.storyId; // Assuming you have set a 'data-story-id' attribute in your HTML to store the story ID
            var isFilled = heartIcon.classList.contains("ri-heart-fill");
            // Toggle heart icon fill
            if (isFilled) {
              heartIcon.classList.remove("ri-heart-fill");
              heartIcon.classList.add("ri-heart-line");
              removeFromFavorites(storyId); // Call function to remove story from favorites
            } else {
              heartIcon.classList.remove("ri-heart-line");
              heartIcon.classList.add("ri-heart-fill");
              addToFavorites(storyId); // Call function to add story to favorites
            }
          });
        });

        function addToFavorites(storyId) {
          // Get the CSRF token from the hidden input field
          const csrfToken = document.getElementById("csrf_token").value;
          // AJAX request to add story to favorites
          fetch("/add_to_favorites", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": csrfToken, // Ensure CSRF token is included in request headers
            },
            body: JSON.stringify({ story_id: storyId }),
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error("Failed to add story to favorites");
              }
              // Handle success response if needed
            })
            .catch((error) => {
              console.error("Error:", error);
              // Handle error if needed
            });
        }

        function removeFromFavorites(storyId) {
          // AJAX request to remove story from favorites
          // Get the CSRF token from the hidden input field
          const csrfToken = document.getElementById("csrf_token").value;
          fetch("/remove_from_favorites", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": csrfToken, // Ensure you have CSRF token for security
            },
            body: JSON.stringify({ story_id: storyId }),
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error("Failed to remove story from favorites");
              }
              // Handle success response if needed
            })
            .catch((error) => {
              console.error("Error:", error);
              // Handle error if needed
            });
        }
      });
    </script>

    <!-- Include Axios library -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Jquery Min JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap Bundle Min JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Meanmenu Min JS -->
    <script src="{% static 'js/meanmenu.min.js' %}"></script>
    <!-- Owl Carousel Min JS -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Owl Carousel Thumbs Min JS -->
    <script src="{% static 'js/carousel-thumbs.min.js' %}"></script>
    <!-- scrollCue Min JS -->
    <script src="{% static 'js/scrollCue.min.js' %}"></script>
    <!-- Magnific Popup Min JS -->
    <script src="{% static 'js/magnific-popup.min.js' %}"></script>
    <!-- Appear Min JS -->
    <script src="{% static 'js/appear.min.js' %}"></script>
    <!-- Odometer Min JS -->
    <script src="{% static 'js/odometer.min.js' %}"></script>
    <!-- Mixitup Min JS -->
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <!-- Form Validator Min JS -->
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <!-- Contact JS -->
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <!-- Ajaxchimp Min JS -->
    <script src="{% static 'js/ajaxchimp.min.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>
