{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load crispy_forms_tags %}

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Owl Theme Default Min CSS -->
    <link
      rel="stylesheet"
      href="{% static 'css/owl.theme.default.min.css' %}"
    />
    <!-- Include SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10" />
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <!-- Remixicon CSS -->
    <link rel="stylesheet" href="{% static 'css/remixicon.css' %}" />
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}" />
    <!-- scrollCue CSS -->
    <link rel="stylesheet" href="{% static 'css/scrollCue.css' %}" />
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}" />
    <!-- Odometer Min CSS -->
    <link rel="stylesheet" href="{% static 'css/odometer.min.css' %}" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'images/favicon.png' %}"
    />
    <!-- Title -->
    <title>KidsWorld</title>
  </head>

  <body>
    <!-- Start Preloader Area -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="pl-spark-1 pl-spark-2"></div>
      </div>
    </div>
    <!-- End Preloader Area -->

    <!-- Start Header Area -->
    <header class="header-area">
      <!-- Start Top Header -->
      <div class="top-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <ul class="header-left-content">
                <li>
                  <a href="mailto:info@kidsWorld.com">
                    <i class="ri-mail-open-fill"></i>
                    info@kidsWorld.com
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="header-right-content">
                <ul class="my-account">
                  <li>
                    <a href="javascript:;" class="dropdown-control">
                      <i class="ri-user-line"></i>
                      My account
                      <i class="ri-arrow-down-s-line"></i>
                    </a>

                    <ul class="my-account-link">
                      <li>
                        <a href="/logout"> Log Out </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Top Header -->

      <!-- Start Navbar Area -->
      <div class="navbar-area">
        <div class="mobile-responsive-nav">
          <div class="container">
            <div class="mobile-responsive-menu">
              <div class="logo">
                <a href="home_with_login.html">
                  <img src="{% static 'images/logo.png' %}" alt="logo" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="desktop-nav">
          <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
              <a class="navbar-brand" href="home_with_login.html">
                <img src="{% static 'images/logo.png' %}" alt="logo" />
              </a>

              <div
                class="collapse navbar-collapse mean-menu"
                id="navbarSupportedContent"
              >
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a href="home_with_login.html" class="nav-link">
                      <!-- Also we can use : "galleries.html" -->
                      Home
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/profile" class="nav-link active"> Profile </a>
                  </li>

                  <li class="nav-item">
                    <a href="favorite_list.html" class="nav-link">
                      Favorite List
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="about.html" class="nav-link"> About us </a>
                  </li>

                  <li class="nav-item">
                    <a href="contact.html" class="nav-link"> Contact us </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>

        <div class="others-option-for-responsive">
          <div class="container">
            <div class="dot-menu">
              <div class="inner">
                <div class="circle circle-one"></div>
                <div class="circle circle-two"></div>
                <div class="circle circle-three"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar Area -->
    </header>
    <!-- End Header Area -->

    <!-- Start Page Title Area -->
    <div class="page-title-area bg-13">
      <img
        src=" {% static 'images/gif3.gif' %}"
        alt=""
        class="page-title-gif"
      />
      <div class="container">
        <div class="page-title-content">
          <h2>Profile</h2>

          <ul>
            <li>
              <a href="index.html"> Home </a>
            </li>

            <li class="active">profile</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start User Area -->
    <section class="user-area ptb-100">
      <div class="container">
        <div class="user-form-content log-in-width">
          <h3>Profile Information</h3>

          <form
            id="passwordForm"
            class="needs-validation"
            method="post"
            novalidate
          >
            {% csrf_token %} {{ form|crispy }}
            <div class="col-lg-12">
              <div class="row align-items-center">
                <div class="col-12 text-center">
                  <button type="submit" class="default-btn">
                    Update Password
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- End User Area -->

    <!-- Start Footer Area -->
    <footer class="footer-area pt-70 pb-40">
      <div class="container">
        <div class="col-lg-6 col-sm-6 mx-auto">
          <div class="col-6 mx-auto">
            <a href="index.html" class="logo">
              <img src="{% static 'images/white-logo.png' %}" alt="Image" />
            </a>
          </div>
          <ul class="social-icon">
            <li class="social-icon__item">
              <a
                class="social-icon__link"
                href="https://www.facebook.com/"
                target="_blank"
              >
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
            <li class="social-icon__item">
              <a
                class="social-icon__link"
                href="https://twitter.com/"
                target="_blank"
              >
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
            <li class="social-icon__item">
              <a
                class="social-icon__link"
                href="https://twitter.com/"
                target="_blank"
              >
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
            <li class="social-icon__item">
              <a
                class="social-icon__link"
                href="https://www.instagram.com/"
                target="_blank"
              >
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
          </ul>
          <ul class="menu">
            <li class="menu__item">
              <a class="menu__link" href="home_without_login.html">Home</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="profile.html">Profile</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="favorite_list.html">Favorite List</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="about.html">About Us</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="shape footer-shape-1">
        <img src="{% static 'images/footer-shape-1.png' %}" alt="Image" />
      </div>
      <div class="shape footer-shape-2">
        <img src="{% static 'images/footer-shape-2.png' %}" alt="Image" />
      </div>
    </footer>
    <!-- End Footer Area -->
    <input type="hidden" id="csrf_token" value="{% csrf_token %}" />

    <!-- Start Go Top Area -->
    <div class="go-top">
      <i class="ri-arrow-up-s-fill"></i>
      <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- End Go Top Area -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Jquery Min JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap Bundle Min JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Meanmenu Min JS -->
    <script src="{% static 'js/meanmenu.min.js' %}"></script>
    <!-- Owl Carousel Min JS -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Owl Carousel Thumbs Min JS -->
    <script src="{% static 'js/carousel-thumbs.min.js' %}"></script>
    <!-- scrollCue Min JS -->
    <script src="{% static 'js/scrollCue.min.js' %}"></script>
    <!-- Magnific Popup Min JS -->
    <script src="{% static 'js/magnific-popup.min.js' %}"></script>
    <!-- Appear Min JS -->
    <script src="{% static 'js/appear.min.js' %}"></script>
    <!-- Odometer Min JS -->
    <script src="{% static 'js/odometer.min.js' %}"></script>
    <!-- Mixitup Min JS -->
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <!-- Form Validator Min JS -->
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <!-- Contact JS -->
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <!-- Ajaxchimp Min JS -->
    <script src="{% static 'js/ajaxchimp.min.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- My js -->
    <script src="{% static 'js/update_password.js' %}"></script>
  </body>
</html>
